<p>Logged in as <%= current_user.email %><%= button_to "logout", destroy_user_session_path, method: :delete  %></p>

<% @event = Event.find(params[:event_id]) %>
<h1>Booking <%= @event.title %></h1>
<p>Total spaces for event: <%= @event.tickets_available %></p>
<% if @event.tickets_remaining == 0 %>
    <p> Event Sold out! </p>
<% else %>
    <p> Tickets remaining: <%= @event.tickets_remaining %> </p>
<% end %>

<p>
    <% if @event.tickets_remaining > 0 %>
        <%= form_with model: @booking do |form| %>
            <div>
                <%= form.label :number_of_tickets %><br>
                <%= form.text_field :number_of_tickets %>
                
                <% @booking.errors.full_messages_for(:title).each do |message| %>
                    <div><%= message %></div>
                <% end %>
                <%= form.hidden_field :event_id, :value => params[:event_id] %>
                <%= hidden_field_tag 'selected', 'none'  %>
            </div>
        
            <div>
                <%= form.submit %>
            </div>
        <% end %>
    <% end %>
</p>

  
