<% if current_user %>
    <p>Logged in as <%= current_user.email %><%= button_to "logout", destroy_user_session_path, method: :delete  %></p>
<% end %>

<table>
  <tr>
    <td>Event</td><td>Description</td><td>date</td>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.title, event %>
      </td>
      <td>
        <%= event.description %>
      </td>
      <td>
        <%= event.date_time %>
      </td>
    </tr>
  <% end %>
</table>