<h1><%= @event.title %></h1>

<p><%= @event.description %></p>
<p><%= @event.location %></p>
<p><%= @event.date_time %></p>
<p><%= link_to "Go to bookings page", new_booking_path(@event.id) %></p>

<a href="/users#index">Back to user profile</a>
